#particle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.particle {
  position: absolute;
  border-radius: 50%;
  animation: particle-float 60s infinite;
  transform: translate3d(var(--start-x), var(--start-y), var(--start-z));
}

@keyframes particle-float {
  100% {
    transform: translate3d(var(--end-x), var(--end-y), var(--end-z));
  }
}
