#root {
  text-align: center;

  --primary-color: #40309b;  
  --dark-pink: #f09d09;
  --light-pink: #ff90e7;
  --primary-color-hover: #f09d09;
  
}

* {
  margin: 0;
  padding: 0;
}

.headliner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 70vw;
  margin: 2rem auto;
}

.headliner h1 {
  padding: 1rem 0;
  font-size: 2.5vw;
  color: #FFF;
  animation: glitch 2s infinite;
}

.headliner h2 {
  padding: 0 0 1rem 0;
}

.lobby-id-code {
  cursor: pointer;
}

@keyframes glitch {
  0%, 90%, 100% {
    text-shadow: none;
  }
  92% {
    text-shadow: 
      -2px 0 var(--dark-pink),
      2px 0 #ff90e7;
  }
  94% {
    text-shadow: 
      2px 0 var(--dark-pink),
      -2px 0 #ff90e7;
  }
}

