:root {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background: rgb(75, 75, 75);

  background-image: url("assets/background8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

